In [20]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
year = 2022
month = 8
day = 19
hr = 17
minute = 32
sec = 23

In [5]:
my_date = datetime(year,month,day)
my_date

datetime.datetime(2022, 8, 19, 0, 0)

In [6]:
my_datetime = datetime(year,month,day,hr,minute,sec)
my_datetime

datetime.datetime(2022, 8, 19, 17, 32, 23)

In [7]:
my_date.year, my_date.month, my_date.second

(2022, 8, 0)

In [8]:
my_datetime.year, my_datetime.month, my_datetime.day, my_datetime.hour, my_datetime.minute, my_datetime.second

(2022, 8, 19, 17, 32, 23)

In [9]:
type(my_date), type(my_datetime)

(datetime.datetime, datetime.datetime)

In [11]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64')

array(['2018-03-27', '2021-05-14', '2022-09-04'], dtype='datetime64[D]')

In [12]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64[Y]') # year-level precision

array(['2018', '2021', '2022'], dtype='datetime64[Y]')

In [13]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64[h]') # hour-level precision

array(['2018-03-27T00', '2021-05-14T00', '2022-09-04T00'],
      dtype='datetime64[h]')

In [14]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64[m]') # minute-level precision

array(['2018-03-27T00:00', '2021-05-14T00:00', '2022-09-04T00:00'],
      dtype='datetime64[m]')

In [15]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64[s]') # second-level precision

array(['2018-03-27T00:00:00', '2021-05-14T00:00:00',
       '2022-09-04T00:00:00'], dtype='datetime64[s]')

In [16]:
np.array(['2018-03-27','2021-05-14','2022-09-04'],dtype='datetime64[M]') # Month-level precision

array(['2018-03', '2021-05', '2022-09'], dtype='datetime64[M]')

In [17]:
np.arange('2024-07-06','2024-09-22',dtype='datetime64[D]')

array(['2024-07-06', '2024-07-07', '2024-07-08', '2024-07-09',
       '2024-07-10', '2024-07-11', '2024-07-12', '2024-07-13',
       '2024-07-14', '2024-07-15', '2024-07-16', '2024-07-17',
       '2024-07-18', '2024-07-19', '2024-07-20', '2024-07-21',
       '2024-07-22', '2024-07-23', '2024-07-24', '2024-07-25',
       '2024-07-26', '2024-07-27', '2024-07-28', '2024-07-29',
       '2024-07-30', '2024-07-31', '2024-08-01', '2024-08-02',
       '2024-08-03', '2024-08-04', '2024-08-05', '2024-08-06',
       '2024-08-07', '2024-08-08', '2024-08-09', '2024-08-10',
       '2024-08-11', '2024-08-12', '2024-08-13', '2024-08-14',
       '2024-08-15', '2024-08-16', '2024-08-17', '2024-08-18',
       '2024-08-19', '2024-08-20', '2024-08-21', '2024-08-22',
       '2024-08-23', '2024-08-24', '2024-08-25', '2024-08-26',
       '2024-08-27', '2024-08-28', '2024-08-29', '2024-08-30',
       '2024-08-31', '2024-09-01', '2024-09-02', '2024-09-03',
       '2024-09-04', '2024-09-05', '2024-09-06', '2024-09-07',
       '2024-09-08', '2024-09-09', '2024-09-10', '2024-09-11',
       '2024-09-12', '2024-09-13', '2024-09-14', '2024-09-15',
       '2024-09-16', '2024-09-17', '2024-09-18', '2024-09-19',
       '2024-09-20', '2024-09-21'], dtype='datetime64[D]')

In [18]:
np.arange('2024-07-06','2024-09-22',7,dtype='datetime64[D]')

array(['2024-07-06', '2024-07-13', '2024-07-20', '2024-07-27',
       '2024-08-03', '2024-08-10', '2024-08-17', '2024-08-24',
       '2024-08-31', '2024-09-07', '2024-09-14', '2024-09-21'],
      dtype='datetime64[D]')

In [19]:
np.arange('2005-02-19','2019-11-08',dtype='datetime64[Y]')

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='datetime64[Y]')

In [22]:
pd.date_range('2017-03-15',periods=12,freq='M')

DatetimeIndex(['2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30',
               '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31',
               '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28'],
              dtype='datetime64[ns]', freq='M')

In [23]:
pd.date_range('2017-03-15',periods=12,freq='D')

DatetimeIndex(['2017-03-15', '2017-03-16', '2017-03-17', '2017-03-18',
               '2017-03-19', '2017-03-20', '2017-03-21', '2017-03-22',
               '2017-03-23', '2017-03-24', '2017-03-25', '2017-03-26'],
              dtype='datetime64[ns]', freq='D')

In [24]:
pd.date_range('2017-03-15',periods=12,freq='Y')

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [26]:
pd.date_range('Oct 18, 2022',periods=30,freq='D')

DatetimeIndex(['2022-10-18', '2022-10-19', '2022-10-20', '2022-10-21',
               '2022-10-22', '2022-10-23', '2022-10-24', '2022-10-25',
               '2022-10-26', '2022-10-27', '2022-10-28', '2022-10-29',
               '2022-10-30', '2022-10-31', '2022-11-01', '2022-11-02',
               '2022-11-03', '2022-11-04', '2022-11-05', '2022-11-06',
               '2022-11-07', '2022-11-08', '2022-11-09', '2022-11-10',
               '2022-11-11', '2022-11-12', '2022-11-13', '2022-11-14',
               '2022-11-15', '2022-11-16'],
              dtype='datetime64[ns]', freq='D')

In [27]:
pd.to_datetime(['Jan 03, 2018','05/08/2018'])

DatetimeIndex(['2018-01-03', '2018-05-08'], dtype='datetime64[ns]', freq=None)

In [30]:
pd.to_datetime(['01-02-2020','06-08-2016'],format='%d-%m-%Y')

DatetimeIndex(['2020-02-01', '2016-08-06'], dtype='datetime64[ns]', freq=None)

In [32]:
pd.to_datetime(['09...05...2019','04...01...2022'],format='%m...%d...%Y')

DatetimeIndex(['2019-09-05', '2022-04-01'], dtype='datetime64[ns]', freq=None)

In [34]:
data = np.random.randn(8,4)
cols = ['A','B','C','D']
idx = pd.date_range('2018-10-24',periods=8,freq='D')

df = pd.DataFrame(data,index=idx,columns=cols)
df

                   A         B         C         D
2018-10-24 -0.102100 -0.765850 -0.628350  1.918001
2018-10-25  0.315297  0.569396 -0.150988  0.899259
2018-10-26  1.358171 -0.109706  0.443992  1.972249
2018-10-27  0.627712 -0.054053 -0.169827 -0.203564
2018-10-28  0.089640 -0.613512 -0.848590 -0.022427
2018-10-29  0.158614 -0.614133  1.150560 -0.111290
2018-10-30 -0.371057  0.065496 -0.498488 -0.089994
2018-10-31 -0.687584 -0.266027 -2.076422 -0.038917

In [35]:
df.index

DatetimeIndex(['2018-10-24', '2018-10-25', '2018-10-26', '2018-10-27',
               '2018-10-28', '2018-10-29', '2018-10-30', '2018-10-31'],
              dtype='datetime64[ns]', freq='D')

In [36]:
df.index.min()

Timestamp('2018-10-24 00:00:00', freq='D')

In [37]:
df.index.argmin()

0

In [38]:
df.index.max()

Timestamp('2018-10-31 00:00:00', freq='D')

In [39]:
df.index.argmax()

7